/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    font-family: "Times New Roman", serif;
    line-height: 1.4;
    word-wrap: normal;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{
    height: 100%;
}
body{
    margin-top: 50px;
}
footer {
    width: 100%;
    padding-top: 10px;
}
a {
    color: #333333;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
a:hover {
    color: #69bccc;
}
.socialbtns, .socialbtns ul, .socialbtns li {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}
.socialbtns .fa {
    width: 30px;
    height: 20px;
    color: #035f70;
    background-color: transparent;
    padding-top: 12px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
}

.socialbtns .fa:hover {
    transition: all 400ms ease-in-out;
    color: #69bccc;
}
#title{
    position: absolute;
    top: 50%;
    left: 40%;
    right: 50%;
    bottom: 50%;
    width: 100%;
    font-size: 50px;
    vertical-align: middle;
}
.slide {
    position: relative;
    padding: 25vh 10%;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
    transform-style: inherit;
}
.link{
    width: 300px;
    height: 300px;
}
.title{
    right: 50%;
    bottom: 50%;
    top: 50%;
    left: 40%;
    color: #ffffff;
    font-size: 50px;
    z-index: 666;
}
.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    z-index: -1;
}
.slide:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
}

.slide:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
}

.slide, .slide:before {
    background: 50% 50% / cover;
}
#slide1:before {
    background-image: url("https://cff2.earth.com/uploads/2016/09/26141929/global-warming-climate-change-tree_1big_stock2.jpg");
    z-index:-1;
}

#slide2 {
    background-image: url("http://followgreenliving.com/wp-content/uploads/2014/05/fossil-fuel-power-plant.jpg");
    background-attachment: fixed;
}

#slide3:before {
    z-index:-1;
}

#slide4 {
    background-image: url("http://az616578.vo.msecnd.net/files/2016/03/21/6359418476836083511657153506_Journey%20Towards%20Sucess.jpg");
    background-attachment: fixed;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
.gallery-success {
    margin: auto;
    margin-top: 45px;
    border: 10px solid #ccc;
    width: 650px;
}

.gallery-success:hover {
    border: 10px solid #777;
}

#fuel-title {
    text-align: center;
    margin: 40px;
    margin-top: 80px;
}
.titles {
    margin-left: 15px;
}
.pro-con {
    margin: 0 25px;
}
#top-img {
    float: right;
    margin: 10px;
}

#alt {

    margin: 10px auto;
    display: block;
}
br {
    line-height: .35px;
}

#sr {
    float: right;
    margin: 10px;
}
.fixed15 {
    height: 50px;
    width: 75px;
    position: fixed;
    top: 45px;
    left: 15px;
}

.fixed16 {
    height: 50px;
    width: 75px;
    position: fixed;
    top: 45px;
    right: 185px;
}

#link-intro {
    margin-top: 50px;
    color: darkgray;
    text-align: center;
}
.fixed15 {
    height: 50px;
    width: 75px;
    position: fixed;
    top: 45px;
    left: 15px;
}

.fixed16 {
    height: 50px;
    width: 75px;
    position: fixed;
    top: 45px;
    right: 185px;
}

.desc {
    background-color: white;
    padding: 15px;
    text-align: center;
}

.move-to-center {
    width: 800px;
    margin: 0 auto;
}
a.navigation {
  padding: 0px 35px;
  word-wrap: normal;
  display: inline-block;
}
