
#body-container {
	width: 800px;
	margin: 0 auto;
}

img {
	float: right;
	height: 300px;
	margin-left: 30px;
}

p {
	margin: 0 auto 160px;
}

h2 {
	margin-top: 60px;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom: 10px;
	text-align: center;
}
